

//Filter :
$event-filter-bg-color:$brand-primary;

$event-filter-search-text-color:$brand-primary;
$event-filter-search-border-color:$brand-primary;

$event-filter-per-date-label-color:#fff;
$event-filter-per-date-icon-content : "\f0ce";
$event-filter-per-date-icon-color:$brand-primary;
$event-filters-buttons-reset-bg-color :#fff;
$event-filters-buttons-reset-border-color: #fff;
$event-date-picker-header-bg-color:transparent;
$event-date-picker-header-text-color:$brand-primary;
$event-date-picker-weekend-text-color:$brand-primary;
///Title
$event-title-color: #4a4a4a;
//Date
$event-date-color: $brand-primary;
//Category
$event-category-color: #fff;
$event-category-bg-color: $brand-primary;

//Body
$event-body-text-color: #595959;

body {
  background:url('../images/bg.png') ;
}

* , *:focus{
  outline:none
}

//single event
.node-type-event {
  .page-header {
    display: none;
  }
  #content {
    > div {
      padding: 0;
    }
  }
  .node-event {

    .content {
      @media(max-width: $screen-sm) {
        display: flex;;
        flex-direction: column;
      }
      .field-name-field-title {
        overflow: hidden;
        color: $event-title-color;
        font-size: $font-size-h1;

        @media(max-width: $screen-sm) {
          order: -1;
        }
      }
      .field-name-field-vactory-image-cover {
        @media (min-width: $screen-sm) {
          float: left;
          margin: 0 20px 10px 0;
          width: 30%;
        }
        @media (max-width: $screen-sm) {
          float: none;
          margin: 20px 0px 0 0;
          width: 100%;
        }

        img {
          width: 100%;
        }
      }

      .field-name-field-vactory-event-category {
        overflow: hidden;
        display: inline-block;

        margin: 20px 10px 20px 0;
        @media (max-width: $screen-xs) {
          text-align: left;
          margin: 20px 10px 10px 0;
        }
        .field-item  {
          color: $event-category-color;
          font-size: $font-size-small;
          padding: 2px 6px;
          background-color: $event-category-bg-color;
          border-radius: 20px;
          @media (max-width: $screen-xs) {
            display:inline-block
          }
        }
      }
      .field-name-field-vactory-date {
        overflow: hidden;
        display: inline-block;
        color: $event-date-color;
        font-size: $font-size-base;
        margin: 20px 0;
        @media (max-width: $screen-sm) {
          text-align: left;
          margin-top: 0;
        }

      }
      .field-name-body {
        p {
          color: $event-body-text-color;
          font-size: $font-size-base;
          text-align: justify;
        }

      }
    }

  }
}

//Events with pagination
.page-events {
  .region-content {
    >.view-vactory-events-push {
      .view-filters {
        background-color: $event-filter-bg-color;
        > form {
          .views-exposed-widgets {
            margin: 0 auto;
            width: 70%;
            display: flex;
            @media(max-width: $screen-sm) {
              flex-direction: column;
            }
          }

          .views-exposed-widget {
            display: flex;
            align-items: center;
            min-height: 73px;
            flex:1;
            padding-top:0;
            .views-widget {
              width:100%;
              @media(max-width: $screen-sm) {
                .form-item-field-vactory-event-category-tid , .form-item-field-vactory-date-value {
                  padding: 0;
                }
              }

              .select2-container {
                width:100% !important;
                .select2-selection--single {
                  min-height:34px;
                  border-radius: 20px;
                  border:1px solid $event-filter-search-border-color;
                  .select2-selection__rendered {
                    color:$event-filter-search-text-color;
                    font-size:$font-size-base;
                    line-height: 34px;
                  }
                }
                .select2-selection__arrow {
                  height: auto;
                  top: 50%;
                  right: 9px;
                  transform: translateY(-50%);
                  font-size: 26px;
                  color:$event-filter-search-text-color;
                  b {
                    border:none
                  }
                  &:after {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\f107";
                  }
                }

              }
              .select2-container--open {
                .select2-selection--single {
                  border-bottom-left-radius: 0 !important;
                  border-bottom-right-radius: 0 !important;
                }
              }
            }

            &.views-reset-button {
              flex: inherit;
              @media(max-width: $screen-sm) {
                padding-right: 17px;
                padding-left: 6px;
              }
              input[type="submit"] {
                background-color: $event-filters-buttons-reset-bg-color;
                color:#000;
                border:1px solid $event-filters-buttons-reset-border-color;
              }
            }
            &.views-reset-button ,  input[type="submit"] {
              margin-top:0;
            }
            &.views-submit-button {
              display:none;
            }

            &.views-widget-filter-field_vactory_date_value {
              display: flex;
              @media(max-width: $screen-sm) {
                flex-direction: column;
              }
              >label {
                color:$event-filter-per-date-label-color;
                margin:0 20px;
                font-weight:normal;
              }
              >.views-widget {
                flex:1;
                .form-item-field-vactory-date-value {
                  position:relative;
                  &::after {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content:$event-filter-per-date-icon-content ;
                    color:$event-filter-per-date-icon-color;
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                  input {
                    border-radius: 20px;
                    border:1px solid $event-filter-search-border-color;
                    color:$event-filter-search-text-color;
                  }
                }

              }
            }

          }
        }

      }
      .view-content {
        .views-row {
          -moz-box-shadow: 2px 2px 4px #c6c5c1;
          -webkit-box-shadow: 2px 2px 4px #c6c5c1;
          box-shadow: 2px 2px 4px #c6c5c1;
          background-color: #fff;
          padding: 20px;
          margin:20px 0 0 0 ;
          @media (min-width: $screen-sm) {
          }
          @media(max-width: $screen-sm) {
            display: flex;;
            flex-direction: column;
          }
          h3.field-content {
            overflow: hidden;
            color: $event-title-color;
            font-size: $font-size-h1;
            margin-top:0;

            @media(max-width: $screen-sm) {
              order: -1;
            }
          }
          .field-name-field-vactory-image-cover {
            @media (min-width: $screen-sm) {
              margin: 0 20px 10px 0;
            }
            @media (max-width: $screen-sm) {
              float: none;
              margin: 20px 0px 0 0;
              width: 100%;
            }

            img {
              @extend .img-responsive;
              @media(max-width: $screen-sm) {
                margin: auto;
              }
            }
          }
          .field-name-field-vactory-event-category {
            overflow: hidden;
            display: inline-block;
            margin: 20px 10px 20px 0;
            a {
              background-color: $event-category-bg-color;
              border-radius: 20px;
              color: $event-category-color;
              font-size: $font-size-small;
              padding: 2px 6px;
              @media (max-width: $screen-xs) {
                text-align: left;
                //width:20%;
                white-space: nowrap;
              }

            }

          }
          .field-name-field-vactory-date {
            overflow: hidden;
            display: inline-block;
            color: $event-date-color;
            font-size: $font-size-base;
            margin: 20px 0;
            @media (max-width: $screen-sm) {
              text-align: left;
              margin-top: 0;
            }

          }
          .field-name-body {
            p {
              color: $event-body-text-color;
              font-size: $font-size-base;
              text-align: justify;
            }

          }

        }
      }
    }
  }

  .select2-dropdown {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 0px;
    .select2-search__field {
      color:$event-filter-search-text-color;
      border-radius: 20px;
    }
    .select2-results__option {
      &:nth-child(1) {
        display:none;
      }
      &:hover {
        background-color: transparent;
        color: $event-body-text-color;
      }
    }
    .select2-results__option--highlighted[aria-selected] {
      background-color: transparent;
      color: $event-body-text-color;
    }
  }
  .ui-datepicker  {
    .ui-datepicker-header {
      background-image: none;
      background-color: $event-date-picker-header-bg-color;
      color:$event-date-picker-header-text-color;
    }

    .ui-datepicker-calendar {
      tr{
        th {
          color:$event-date-picker-weekend-text-color;
        }
      }
    }
  }
  .pagination {
    .pager-item {
      a{
        border-radius: 50% !important;
        background-color: #fff;
        border:1px solid $brand-primary;
        &:hover {
          background-color: transparent;
        }
      }
    }
    .pager-current {
      span {
        border-radius: 50% !important;
        border:1px solid #fff;
      }
    }
    .pager-next ,.pager-last, .pager-first, .pager-previous{
      display:none !important;
    }
  }
}


//Home events block

.block-views {
  .block__title {
    text-align:center;
    color:$event-title-color;
    font-size:$font-size-h1;
    background: url(../images/bg-title.png) no-repeat center bottom;
    padding-bottom: 37px;
  }
  .block__content {
    > .view-vactory-events-push {
      position:relative;
      margin-top:20px;
      display:flex;
      margin-bottom: 70px;
      flex-wrap: nowrap;
      @media(max-width: $screen-sm) {
        flex-direction: column;
        padding: 0 20px;
        margin-top:0px;

      }
      > .view-content {
        flex:2;
        display: flex;
        .views-row {
          width: 100%;
          flex-wrap: wrap;
          display:flex;
          @media(max-width: $screen-sm) {
            flex-direction: column;
            margin-bottom: 20px;
            padding:0;
          }
          .col-xs-5 {
            display: flex;
            padding:0;
            -moz-box-shadow: 2px 2px 4px #c6c5c1;
            -webkit-box-shadow: 2px 2px 4px #c6c5c1;
            box-shadow: 2px 2px 4px #c6c5c1;
            @media(max-width: $screen-sm) {
              width:100%;
            }
            > div {
              width:100%;
              img  {
                @extend .img-responsive;
                width:100%;
              }
            }
            * {
              height:100% !important;
            }
            a {
              display:block;
            }
          }
          .col-xs-7{
            -moz-box-shadow: 2px 2px 4px #c6c5c1;
            -webkit-box-shadow: 2px 2px 4px #c6c5c1;
            box-shadow: 2px 2px 4px #c6c5c1;
            background: #fff;
            display: flex;
            padding:0;
            @media(max-width: $screen-sm) {
              width:100%;
            }
            .btn {
              padding: 0;
            }
            > div {
              padding:20px;
              h3 {
                margin-top:0;

                a {
                  color: $event-title-color;
                  font-size: $font-size-h1;
                  font-weight: bold;
                }
                @media(max-width: $screen-sm) {
                  order: -1;
                }
              }


              .field-name-field-vactory-image-cover {
                @media (min-width: $screen-sm) {
                }
                @media (max-width: $screen-sm) {
                }

                img {
                  @extend .img-responsive;
                  @media(max-width: $screen-sm) {
                    margin: auto;
                  }
                }
              }

              .field-name-field-vactory-event-category {
                overflow: hidden;
                display: inline-block;
                margin: 0px 0px 6px 0;
                a {
                  background-color: $event-category-bg-color;
                  border-radius: 20px;
                  color: $event-category-color;
                  font-size: $font-size-small;
                  padding: 2px 6px;
                  @media (max-width: $screen-xs) {
                    text-align: left;
                    //width:20%;
                    white-space: nowrap;
                  }

                }

              }
              .field-name-field-vactory-date {
                overflow: hidden;
                display: inline-block;
                color: $event-date-color;
                font-size: $font-size-base;
                @media (max-width: $screen-sm) {
                  text-align: left;
                  margin-top: 0;
                }

              }
              .field-name-body {
                p {
                  color: $event-body-text-color;
                  font-size: $font-size-base;
                  text-align: justify;
                }
                &+  a {
                  border-radius: 20px;
                  border: 1px solid $brand-primary;
                  padding: 5px 10px;
                  margin-top: 20px;
                  display: inline-block;
                }

              }
            }

          }
        }
      }
      > .attachment-after {
        flex:1;
        display: flex;
        .view-vactory-events-push {
          width:100%;
          height: 100%;
          .view-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            .views-row {
              flex:1;
              background: #fff;
              margin-top: 10px;
              position:relative;
              -moz-box-shadow: 2px 2px 4px #c6c5c1;
              -webkit-box-shadow: 2px 2px 4px #c6c5c1;
              box-shadow: 2px 2px 4px #c6c5c1;
              &:first-child {
                margin-top:0;
              }
              .pull-left {
                height:100%;
                @media(max-width: $screen-sm) {
                  margin-right: 10px;
                }

                a {
                  display:block;
                }
                * {
                  height:100% !important;
                }
              }
              .field-name-field-vactory-image-cover {
                @media (min-width: $screen-sm) {
                  margin: 0 10px 0 0;
                }
                @media (max-width: $screen-sm) {
                  float: none;
                  margin: 0px 0 0 0;
                  width: 100%;
                }
                img {
                  @extend .img-responsive;
                  @media(max-width: $screen-sm) {
                    margin: auto;
                  }
                }
              }
              .field-name-field-vactory-date {
                color: $event-date-color;
                font-size: $font-size-base;
                margin-top:10px;
                @media (max-width: $screen-sm) {
                  text-align: left;
                  margin-top: 5px;
                }
              }
              h3.field-content {
                position: absolute;
                left: 19%;
                bottom: -5px;
                line-height: 12px;
                padding-right: 5px;
                @media(max-width: $screen-sm) {
                  left: 22%;
                }
                a {
                  color: $event-title-color !important;
                  font-size: $font-size-base;
                  font-weight: bold;
                }
                @media(max-width: $screen-sm) {
                  order: -1;
                }
              }

            }
          }
        }

      }

      >.more-link {
        position:absolute;
        bottom: -70px;
        left: 50%;
        border-radius: 20px;
        border: 1px solid $brand-primary;
        padding: 5px 10px;
        margin-bottom: 20px;
        transform: translateX(-50%);
      }
    }
  }
}


